.wrapper > * {
  border: 3px solid goldenrod;
}

img {
  width: 400px;
  height: 300px;
}

.bigcenter {
  width: 100%;
  height: 500px;
}

.top {
  background-image: url("../img/backcover.jpg");
  background-size: cover;
  width: 100%;
  height: 700px;
}

/*Hack to get them to align properly */
.flex-form > *:not([type="date"]) {
  border-top:1px solid white;
  border-bottom:1px solid white;
}

.flex-form input[type="submit"] {
  background:#FF5A5F;
  border-top: 1px solid #FF5A5F;
  border-bottom: 1px solid #FF5A5F;
  color:white;
}

.flex-form > * {
  border:0;
  padding:10px;
  background:white;
  line-height:50px;
  font-size: 20px;
  border-radius:0;
  outline:0;
  border-right:1px solid rgba(0,0,0,0.2);
  -webkit-appearance:none;
}

.flex-form > *:last-child {
  border-right: 0;
}

/*Flexbox Starts Here*/

.top {
  display: flex;
  flex-wrap: wrap;
  // flex-direction: column;
  justify-content: center;
  align-items: flex-end;
    h1 {
      order: 1;
      justify-content: center;
      margin-bottom: 0;
    }
    h5 {
      order: 2;
      margin-top: 0;
    }
    button {
      order: 3;
      margin-bottom: 20px;
    }
}

.flex-form {
  order: 4;
  z-index: 10;
  border: 20px solid rgba(0,0,0,0.3);
  border-radius: 5px;
  display: flex;
  align-self: flex-end;
}

input[type="search"] {
  flex-basis:500px;
}
